/* colors */

/*
60% of 	#c12f39	- Primary
30% of 	#c16d2f - Secondary
10% of #c12f82 - Accent
*/

:root {

/* var(--dominatColor) !important; */
--dominantColor: #c12f39;  

/* var(--secondaryColor) !important; */
--secondaryColor:	#c16d2f;

/* var(--accentColor) !important; */
--accentColor:	 #c12f82;

}